* {
	box-sizing : border-box;
}

body {
    height: 100%;
    width: 100%;
}

#contenu {
	margin-top: 50px;
}

#menuNavBtn {
	padding-top:17px;
	padding-bottom:16px;
	padding-right:24px;
	padding-left:24px;
}

h2 {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	text-align: center;
}

input:not([type=checkbox]) {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:not([type=checkbox]):focus {
  background-color: #ddd;
  outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.submitBtn:hover {
	opacity:1;
}

.submitBtn:disabled {
	background-color: lightgrey;
	opacity : 0.9;
}

.submitBtn {
	float: left;
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.form {
	padding: 16px;
	border: 1px solid #ccc;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.rouge {
	color: red;
}

.tableContainer {
    overflow-x: auto;
    white-space: nowrap;
}

.voyageGlobal:hover {
	cursor: pointer;
}

.noPadding {
	padding:0px !important;
}

body::-webkit-scrollbar{
    display:none;
}

@media screen and (max-width: 600px) {
	#messageBvn {
		font-size: 28px;
	}
}